/*navicat бЁжа*/
ul li a.nav-checked.ui-link.ui-btn{
	background-color: #38c;
    border-color: #38c;
    color: #fff;
    text-shadow: 0 1px 0 #059;
}

div.order-detail-line{
	height:50px;
}

/* div.order-detail-line>label.order-detail-label{ */
/* 	line-height:50px; */
/* } */

div.ui-radio>label.order-check-not-pass{
	color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}
div.ui-radio>label.order-check-pass{
	color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}
td.check-item-top-border{
	border-top: #cccccc thin dashed
}

p.order-check-not-pass{
	color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    padding: .5rem .5rem;
    margin-bottom: .5rem;
    border: 1px solid transparent;
    border-radius: .25rem; 
}
p.order-check-pass{
	color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    padding: .5rem .5rem;
    margin-bottom: .5rem;
    border: 1px solid transparent;
    border-radius: .25rem; 
}
p.order-check-waiting{
	color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
    padding: .5rem .5rem;
    margin-bottom: .5rem;
    border: 1px solid transparent;
    border-radius: .25rem; 
}

p.order-check-doing{
	color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
    padding: .5rem .5rem;
    margin-bottom: .5rem;
    border: 1px solid transparent;
    border-radius: .25rem; 
}
a.btn_todoing{
	color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}
a.btn_dosaving{
	color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}